﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using SolrShowcase.Controllers
@using Umbraco.Web;
@{
    var site = Model.Content.Site();
    var selection = site.Children.Where(x => x.IsVisible());
}
<!-- uncomment this line if you don't want it to appear in the top navigation -->
<a class="nav-link @Html.Raw(Model.Content.Id == site.Id ? "navi-link--active" : "")" href="@site.Url">@site.Name</a>
@foreach (var item in selection)
{
    <a class="nav-link @(item.IsAncestorOrSelf(Model.Content) ? "nav-link--active" : null)" href="@item.Url">@item.Name</a>
}
@Html.Partial("_searchbox")

@using (Html.BeginUmbracoForm<ResetIndexController>("Index", FormMethod.Post))
{
    <div class="container">
        <button type="submit">Reset Index</button>
    </div>
}
@*<a href="resetindex">Reset Index</a>*@