﻿@using SolrShowcase.Controllers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@using (Html.BeginUmbracoForm<SearchController>("Index", FormMethod.Post))
{
    <div class="container">
        <input type="text" placeholder="Search Text" style="width: 200px;float:left" class="form-control" name="term">
        <button type="submit"><i class="fa fa-search" style="height: 22px;"></i></button>
    </div>
}
