﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@inherits UmbracoViewPage<SolrShowcase.Models.SearchViewModel>

@{
    Layout = "Master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml", Model.Content.Parent)

<section class="section">

    
    <div class="container">
        <h1>You entered - @Model.Results.FirstOrDefault()</h1>
    </div>
</section>



